@import url('https://fonts.googleapis.com/css2?family=Teko&family=Zen+Tokyo+Zoo&display=swap');
@font-face {
   font-family: "BERNIER Distressed";
   src: url('BERNIER Distressed.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    /* background-color: rgb(126, 207, 207); */
    background-image:url("img/friends.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    width: 28rem;
    height: 34rem;
    background-color:rgb(199, 156, 76);
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    color: rgb(45, 70, 70);
}

div#titulo {
    text-align: center;
    padding-bottom: .7rem;
}

div#img {
    display: flex;
    display:inline-flex;
    justify-content: center;
}

div#titulo h1 {
    font-size: 3rem;
    font-weight: 1;
    letter-spacing: .2rem;
}

div#titulo p {
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 1.9rem;
    letter-spacing: .4rem;
}

div img {
    width:60%;
    /* border-radius: 50%; */
    border: 3px solid rgb(53, 61, 61);
    box-shadow: 0px 0px 10px 0px rgb(108, 114, 114);
}

div#humor p {
    padding: .4rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 2.3rem;
}

button {
    font-family: "Teko", serif;
    font-size: 1.9rem;
    background-color: rgb(26, 50, 93);
    border: 1px solid rgb(64, 74, 170);
    color: rgb(230, 230, 230);
    align-self: center;
    width: 40%;
    border-radius: 2rem;
    transition: all .5s ease-out;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(78, 78, 78);
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 1px black;
}